<div class="token-info-data" title="[token]">

    <table>
    <tr><th>[TEXT:accesstoken:author] </th><td>:</td><td> [author]</td></tr>
    <tr><th>[TEXT:accesstoken:user] </th><td>:</td><td> [user]</td></tr>
    <tr><th>[TEXT:accesstoken:expire] </th><td>:</td><td> [expire]</td></tr>
    <tr><th>[TEXT:accesstoken:expandable] </th><td>:</td><td> [expendable]</td></tr>
    <tr><th>[TEXT:accesstoken:description] </th><td>:</td><td> [description]</td></tr>
    <tr><th>[TEXT:accesstoken:context] </th><td>:</td><td> [context]</td></tr>
    </table>
</div>