<!DOCTYPE html>
<html>
<head>
    <title>[TEXT:Token access]</title>
    [CSS:CUSTOMREF]
    [JS:REF]
</head>
<body>
<table class="token" lang="[lang]" data-token-url="?app=AUTHENTUI&action=TOKEN_DATA">
    <thead>
    <tr>
        <th></th>
        <th class="token-description">[TEXT:accesstoken:description]</th>
        <th class="token-id">[TEXT:accesstoken:token]</th>
        <th class="token-user">[TEXT:accesstoken:user]</th>
        <th class="token-date">[TEXT:accesstoken:date]</th>
        <th class="token-expendable">[TEXT:accesstoken:expandable]</th>
        <th class="token-context">[TEXT:accesstoken:context]</th>
    </tr>
    <tr><th class="token-count-info" colspan="7"></th></tr>
    </thead>

</table>

<div style="display:none" data-close="[TEXT:accesstoken:Cancel]" data-confirm="[TEXT:accesstoken:Confirm token deletion]"
     id="token-deletion-confirm" title="[TEXT:accesstoken:Token Deletion]">
    <p><span class="ui-icon ui-icon-alert"></span>
        <span>[TEXT:accesstoken:Delete token. Are you sure ?]</span></p>
</div>

<div class="token-header">
<a class="token-view-createform">[TEXT:accesstoken:Create a new token]</a>
<label for="ctoken-expired">[TEXT:accesstoken:Show expired tokens] (<span class="token-expired-count"></span>)</label>
<input type="checkbox"  id="ctoken-expired">
</div>

<form  class="token-form token-form-add" title="[TEXT:accesstoken:New token]" action="?app=AUTHENTUI&action=TOKEN_METHOD&method=create">
    <div>
        <label  class="label" for="idescription">[TEXT:accesstoken:description]</label>
        <input id="idescription" name="description" placeholder="[TEXT:accesstoken:Write a description]" type="text" />
    </div>
    <div>
        <label class="label" for="iuser">[TEXT:accesstoken:user]  </label>
        <input type="text" id="iuser" name="user" placeholder="[TEXT:accesstoken:User login]"/>
    </div>
    <div>
         <div class="label" >[TEXT:accesstoken:validated]  </div>

        <button title="[TEXT:accesstoken:Never expire]" class="token-infinity"><span class="token-infinity--symbol">&infin;</span> <span>[TEXT:accesstoken:infinity]</span></button>
        <span>[TEXT:accesstoken:oruntil]</span>
        <input name="expiredate" placeholder="YYYY-MM-DD" type="date" value="[today]"/>
        <input name="expiretime" placeholder="HH:MM" type="time" value="23:59"/>

        <input name="expireinfinite" type="hidden" value="false"/>
    </div>
    <div>
        <div class="label" >[TEXT:accesstoken:expandable] </div>
        <label>[TEXT:accesstoken:One shot]<input type="radio" value="one" name="expandable"></label>
        <label>[TEXT:accesstoken:Always]<input checked="checked" type="radio" value="always" name="expandable"></label>

    </div>
    <div>
        <div class="label">[TEXT:accesstoken:context]</div>
        <select class="context-select" name="openaction">[BLOCK OPENACTIONS]
            <option value="[openAction]">[openActionLabel]</option>
            [ENDBLOCK OPENACTIONS]
            <option selected="selected" value="">[TEXT:accesstoken:allapplication]</option>
        </select><br/>

        <table class="context-param" >
            <thead>
            <tr>
                <th><a class="token-add-key" title="[TEXT:accesstoken:Add another key]"></a> [TEXT:accesstoken:parameterKey]</th>
                <th>[TEXT:accesstoken:parameterValue]</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot style="display:none">
            <tr>
                <td><input name="getkey[]" type="text"/></td>
                <td><input name="getvalue[]" type="text"/></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="lastToken">[TEXT:accesstoken:Last created token is] : <em class="lastToken--id"></em></div>
    <a class="token-add">[TEXT:accesstoken:Create the token]</a>

</form>


<section class="token-info token-form" title="[TEXT:accesstoken:Token info]" style="display:none">
    <div>
        <label  class="label" >[TEXT:accesstoken:Identifier]</label>
        <input  name="tokenid"  type="text" />
    </div>

    <div>
        <label  class="label" >[TEXT:accesstoken:description]</label>
        <input  name="description"  type="text" />
    </div>
    <div>
        <label class="label" >[TEXT:accesstoken:author]  </label>
        <input type="text" name="author" />
    </div>
    <div>
        <label class="label" >[TEXT:accesstoken:user]  </label>
        <input type="text" name="user" />
    </div>
    <div>
        <div class="label" >[TEXT:accesstoken:validated]  </div>

        <button title="[TEXT:accesstoken:Never expire]" class="token-infinity"><span class="token-infinity--symbol">&infin;</span> <span>[TEXT:accesstoken:infinity]</span></button>
        [TEXT:accesstoken:oruntil]
        <input name="expiredate" placeholder="YYYY-MM-DD" type="date" value="[today]"/>
        <input name="expiretime" placeholder="HH:MM" type="time" value="23:59"/>

        <input name="expireinfinite" type="hidden" value="false"/>
    </div>
    <div>
        <div class="label" >[TEXT:accesstoken:expandable] :</div>
        <label>[TEXT:accesstoken:One shot]<input  type="radio" value="one" name="expandable"></label>
        <label>[TEXT:accesstoken:Always]<input type="radio" value="always" name="expandable"></label>

    </div>
    <div>
        <div class="label">[TEXT:accesstoken:context]</div>
        <select class="context-select" name="openaction">[BLOCK OPENACTIONS]
            <option value="[openAction]">[openActionLabel]</option>
            [ENDBLOCK OPENACTIONS]
            <option selected="selected" value="">[TEXT:accesstoken:allapplication]</option>
        </select><br/>

        <table class="context-param" >
            <thead>
            <tr>
                <th><a class="token-add-key" title="[TEXT:accesstoken:Add another key]"></a> [TEXT:accesstoken:parameterKey]</th>
                <th>[TEXT:accesstoken:parameterValue]</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot style="display:none">
            <tr>
                <td><input class="token-param-key" type="text"/></td>
                <td><input class="token-param-val" type="text"/></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <a class="token-delete">[TEXT:accesstoken:Delete the token]</a>

</section>

</body>
</html>